.background--mingel-day {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
  padding-top: 75px;
  }
  
  .scroll-area--mingel-day {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 100%;
    overflow: scroll;
    padding-top: 40px;
  }

  .content--mingel-day {
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    padding-top: 0px;
    position: relative;
  }

.text-content--mingel-day {
    display: flex;
    flex-direction: column;
}

.body-text-heading--mingel-day {
    font-size: 24px;
  text-align: center;
  color: white;
  margin-bottom: 12px;
    
}
  .body-text-info--mingel-day {
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 24px;
    line-height: 1.5;
    font-weight: 300;
  }

  @media screen and (max-width: 767px) {
    .background--mingel-day {
        padding-top: 54px;
      }
      .content--mingel-day {
        width: 100%;
      }
  }
  
  