.background--gifts {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: 150px;
  height: 100%;
}

.content--gifts {
  width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  padding-top: 0;
  position: relative;
}

.text-content--gifts  {
  display: flex;
  flex-direction: column;
}

.body-text-info--gifts  {
  font-size: 20px;
  text-align: center;
  color: white;
  line-height: 1.5;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .background--gifts {
      padding-top: 90px;
    }

    .content--gifts {
      width: 100%;
      top: 40%;
      position: absolute;
      transform: translateY(-50%);
    }
}