.background--home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("../../images/gifta3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.layer--home {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content--home {
  width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  position: relative;
}

.header-text--home {
   font-size: 100px;
   text-align: center;
   width: 100%;
   color: white;
   margin-bottom: 12px;
 }

 .header-text-small--home {
  font-size: 50px;
  text-align: center;
  width: 100%;
  color: white;
}

@media screen and (max-width: 992px) {
  .background--home {
    background-size: auto;
  }

  .header-text--home {
    font-size: 85px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header-text--home {
    font-size: 75px;
    margin-bottom: 30px;
  }

  .header-text-small--home {
    font-size: 40px;
  }
  
}