.background--contact {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    position: relative;
    padding-top: 150px;
    min-height: 100vh;
  }
  
  .content--contact {
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    position: relative;
    background: rgba(224, 224, 224, 0.3)
  }

.text-content--contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.body-text-heading--contact {
    font-size: 26px;
  text-align: center;
  color: white;
  margin-bottom: 8px;
    
}
  .body-text-info--contact {
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 24px;
    line-height: 1.5;
    font-family: 'Roboto';
    font-weight: 300;
  }
  
  @media screen and (max-width: 767px) {
    .background--contact {
        padding-top: 90px;
      }

      .content--contact {
        width: 100%;
      }
  }