body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.nav-bar {
 padding: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar--inner {
   display: flex;
   align-items: center;
   justify-content: center;
 }

.nav-bar--inner a {
  font-weight: 300;
  margin: 0 10px;
  font-size: 20px;
  color: gray;
    white-space: nowrap;
}

.nav-bar--inner a.active {
  color: green;
}

@media screen and (max-width: 992px) {
    .nav-bar {
        padding: 14px;
    }

    .nav-bar--inner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        overflow-y: scroll;
    }

    .nav-bar--inner a {
        margin: 0 15px;
    }
}